$font-family: Arial, helevetica, sans-serif;
$base-font-size: 14px;
$base-font-small: 1rem;
$base-font-large: 1.8rem;
$base-line-height: 1.4;
$base-font-color: #333;

$border-color: #999;

$max-page-width: 160rem;
$gutter: 1rem;