html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    color: $base-font-color;
    font-family: $font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}