.container {
    margin: 0 auto;
    max-width: $max-page-width;
    width: 100%;
}

.row {
    display:flex;
    flex-direction: column;
    width: 100%;
    
    &-wrap {flex-wrap: wrap;}
    &-top {align-items: flex-start;}
    &-bottom {align-items: flex-end;}
    &-center {align-items: center;}
    &-stretch {align-items: stretch;}
    &-baseline {align-items: baseline;}
    &-spaced {justify-content: space-between;}

    & + .row {
        margin-top:1rem;
    }
}

[class*=col] {
    display: inline-block;
    flex: 1;
    padding: $gutter;
    width:100%;
    max-width: 100%;

    & > [class*=col] {
        padding-left: 0;
        padding-right: 0;
    }

    & + [class*=col] {
        margin-top:$gutter;
    }
}

.col-top {align-self: flex-start;}
.col-bottom {align-self: flex-end;}
.col-center {align-self: center;}

/* Col Sizes - 12 Cols */
.col-1 {flex-basis: 8.333%; max-width:8.333%}
.col-2 {flex-basis: 16.666%; max-width:16.666%}
.col-3 {flex-basis: 25%; max-width:25%}
.col-4 {flex-basis: 33.333%; max-width:33.333%}
.col-5 {flex-basis: 41.666%; max-width:41.66%}
.col-6 {flex-basis: 50%; max-width:50%}
.col-7 {flex-basis: 58.333%; max-width:58.333%}
.col-8 {flex-basis: 66.666%; max-width:66.666%}
.col-9 {flex-basis: 75%; max-width:75%}
.col-10 {flex-basis: 83.333%; max-width:83.333%}
.col-11 {flex-basis: 91.666%; max-width:91.666%}
.col-12 {flex-basis: 100%; max-width:100%}

@media (min-width: 40rem) {
    .row {
        flex-direction: row;
    }

    [class*=col] + [class*=col] {
        margin-top:0;
    }
}
