html {
	font-size: @base-font-size;
  box-sizing:border-box;
}

*, *:before, *:after {
  box-sizing:inherit;
}

.row {
	width:100%;
}

.row:before, .row:after {
	content:"";
	clear:both;
	display:block;
}

[class*=col-] {float:left; padding: @default-padding;}
[class*=visible] {visibility:visible}

/* Extra small devices (phones, less than 768px) */
.generate-columns(@cols, xs);
.generate-utilities(xs);

/* Small devices (tablets, 768px and up) */
@media (min-width: @sm-breakpoint) {
  .generate-columns(@cols, sm);
	.generate-utilities(sm);
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @md-breakpoint) {
  .generate-columns(@cols, md);
	.generate-utilities(md);
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @lg-breakpoint) {
  .generate-columns(@cols, lg);
	.generate-utilities(lg);
}