/* Media Queries */
@sm-breakpoint: 768px;
@md-breakpoint: 992px;
@lg-breakpoint: 1200px;

/* Fonts */
@base-font-size: 10px;
@body-font-size: 1.4rem;
@font-color: #333;
@font-bold: 600;
@font-family: Arial, helevetica, sans-serif;

@h1-font-size: 2.25em;
@h2-font-size: 1.75em;
@h3-font-size: 1.5em;
@h4-font-size: 1.25em;
@h5-font-size: 1em;
@h6-font-size: 1em;

@link-color: #4078C0;

/* Informative Colors */
@info: #31708F;
@success: #3C763D;
@error: #A94442;
@warn: #FFF9EA;

@default-padding: 1rem;