/* Media Queries */
/* Grid Stuff */
/* Fonts */
html {
  font-size: 10px;
  box-sizing: border-box;
}
body {
  color: #333333;
  font-family: Arial, helevetica, sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.row {
  width: 100%;
}
.row:before,
.row:after {
  content: "";
  clear: both;
  display: block;
}
[class*=col-] {
  float: left;
  padding: 1rem;
}
[class*=col-] > [class*=col-] {
  padding-left: 0;
  padding-right: 0;
}
[class*=visible] {
  visibility: visible;
}
/* Extra small devices (phones, less than 550px) */
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
body:before {
  content: 'xs';
  display: none;
}
.hidden-xs {
  display: none;
  visibility: hidden;
}
.visible-xs-block {
  display: block;
}
.visible-xs-inline {
  display: inline;
}
.visible-xs-inline-block {
  display: inline-block;
}
.visible-xs-flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.xs-left {
  float: left;
}
.xs-right {
  float: right;
}
.xs-none {
  float: none;
}
/* Small devices (Phablets, 550px and up) */
@media (min-width: 550px) {
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  body:before {
    content: 'sm';
    display: none;
  }
  .hidden-sm {
    display: none;
    visibility: hidden;
  }
  .visible-sm-block {
    display: block;
  }
  .visible-sm-inline {
    display: inline;
  }
  .visible-sm-inline-block {
    display: inline-block;
  }
  .visible-sm-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .sm-left {
    float: left;
  }
  .sm-right {
    float: right;
  }
  .sm-none {
    float: none;
  }
}
/* Medium devices (Tablets, 750px and up) */
@media (min-width: 750px) {
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  body:before {
    content: 'md';
    display: none;
  }
  .hidden-md {
    display: none;
    visibility: hidden;
  }
  .visible-md-block {
    display: block;
  }
  .visible-md-inline {
    display: inline;
  }
  .visible-md-inline-block {
    display: inline-block;
  }
  .visible-md-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .md-left {
    float: left;
  }
  .md-right {
    float: right;
  }
  .md-none {
    float: none;
  }
}
/* Large devices (Desktops, 1000px and up) */
@media (min-width: 1000px) {
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  body:before {
    content: 'lg';
    display: none;
  }
  .hidden-lg {
    display: none;
    visibility: hidden;
  }
  .visible-lg-block {
    display: block;
  }
  .visible-lg-inline {
    display: inline;
  }
  .visible-lg-inline-block {
    display: inline-block;
  }
  .visible-lg-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .lg-left {
    float: left;
  }
  .lg-right {
    float: right;
  }
  .lg-none {
    float: none;
  }
}
/* Large devices (HD Desktops, 1200px and up) */
@media (min-width: 1200px) {
  .col-xl-1 {
    width: 8.33333333%;
  }
  .col-xl-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-offset-3 {
    margin-left: 25%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-offset-6 {
    margin-left: 50%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-offset-9 {
    margin-left: 75%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-offset-12 {
    margin-left: 100%;
  }
  body:before {
    content: 'xl';
    display: none;
  }
  .hidden-xl {
    display: none;
    visibility: hidden;
  }
  .visible-xl-block {
    display: block;
  }
  .visible-xl-inline {
    display: inline;
  }
  .visible-xl-inline-block {
    display: inline-block;
  }
  .visible-xl-flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  .xl-left {
    float: left;
  }
  .xl-right {
    float: right;
  }
  .xl-none {
    float: none;
  }
}
/*#region Utility Classes */
.show {
  display: inherit;
  visibility: visible;
}
.hide {
  display: none;
  visibility: hidden;
}
.sr-only {
  position: absolute;
  width: 1px!important;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.pos-relative {
  position: relative;
}
.pos-absolute {
  position: absolute;
}
.pos-static {
  position: static;
}
.eq-height {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.left {
  float: left;
}
.right {
  float: right;
}
.ninja {
  visibility: hidden!important;
}
.blankslate {
  background-color: #fafafa;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  position: relative;
  padding: 3rem;
  text-align: center;
  width: 100%;
}
.centered {
  margin-left: auto;
  margin-right: auto;
}
/*#endregion */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
}
h1,
.h1 {
  font-size: 5rem;
}
h2,
.h2 {
  font-size: 4.2rem;
}
h3,
.h3 {
  font-size: 3.6rem;
}
h4,
.h4 {
  font-size: 3rem;
}
h5,
.h5 {
  font-size: 2.4rem;
}
h6,
.h6 {
  font-size: 1.5rem;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.to-upper {
  text-transform: uppercase;
}
.to-lower {
  text-transform: lowercase;
}
.to-camel {
  text-transform: capitalize;
}
.lead {
  font-size: 2rem;
  font-weight: 600;
}
/*#region - Buttons */
button,
.btn,
input[type=button],
input[type=submit],
input[type=reset] {
  border: solid 1px;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  text-align: center;
  text-decoration: none;
  padding: 1rem 2.5rem;
  width: auto;
}
button:hover,
.btn:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
  text-decoration: none;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-sm {
  font-size: 1rem;
  padding: .5rem 1rem;
}
.btn-lg {
  font-size: 1.6rem;
  padding: 1.5rem 3rem;
}
/*#endregion */
a {
  color: #4078c0;
  text-decoration: none;
}
a:hover {
  color: #2d5487;
  text-decoration: underline;
}
table {
  border-collapse: collapse;
  table-layout: fixed;
  width: 100%;
}
thead,
tbody,
tbody tr {
  float: left;
}
thead th {
  background: #d0d0d0;
}
th,
td {
  display: block;
  padding: 5px;
}
@media (min-width: 750px) {
  thead,
  tbody,
  tbody tr {
    float: none;
  }
  th,
  td {
    display: table-cell;
  }
}
.p-0 {
  padding: 0rem;
}
.p-e-0 {
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.p-s-0 {
  padding-left: 0rem;
  padding-right: 0rem;
}
.p-t-0 {
  padding-top: 0rem;
}
.p-r-0 {
  padding-right: 0rem;
}
.p-b-0 {
  padding-bottom: 0rem;
}
.p-l-0 {
  padding-left: 0rem;
}
.m-0 {
  margin: 0rem;
}
.m-e-0 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.m-s-0 {
  margin-left: 0rem;
  margin-right: 0rem;
}
.m-t-0 {
  margin-top: 0rem;
}
.m-r-0 {
  margin-right: 0rem;
}
.m-b-0 {
  margin-bottom: 0rem;
}
.m-l-0 {
  margin-left: 0rem;
}
.p-1 {
  padding: 0.5rem;
}
.p-e-1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.p-s-1 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.p-t-1 {
  padding-top: 0.5rem;
}
.p-r-1 {
  padding-right: 0.5rem;
}
.p-b-1 {
  padding-bottom: 0.5rem;
}
.p-l-1 {
  padding-left: 0.5rem;
}
.m-1 {
  margin: 0.5rem;
}
.m-e-1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.m-s-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.m-t-1 {
  margin-top: 0.5rem;
}
.m-r-1 {
  margin-right: 0.5rem;
}
.m-b-1 {
  margin-bottom: 0.5rem;
}
.m-l-1 {
  margin-left: 0.5rem;
}
.p-2 {
  padding: 1rem;
}
.p-e-2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p-s-2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.p-t-2 {
  padding-top: 1rem;
}
.p-r-2 {
  padding-right: 1rem;
}
.p-b-2 {
  padding-bottom: 1rem;
}
.p-l-2 {
  padding-left: 1rem;
}
.m-2 {
  margin: 1rem;
}
.m-e-2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.m-s-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.m-t-2 {
  margin-top: 1rem;
}
.m-r-2 {
  margin-right: 1rem;
}
.m-b-2 {
  margin-bottom: 1rem;
}
.m-l-2 {
  margin-left: 1rem;
}
.p-3 {
  padding: 1.5rem;
}
.p-e-3 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.p-s-3 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.p-t-3 {
  padding-top: 1.5rem;
}
.p-r-3 {
  padding-right: 1.5rem;
}
.p-b-3 {
  padding-bottom: 1.5rem;
}
.p-l-3 {
  padding-left: 1.5rem;
}
.m-3 {
  margin: 1.5rem;
}
.m-e-3 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.m-s-3 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.m-t-3 {
  margin-top: 1.5rem;
}
.m-r-3 {
  margin-right: 1.5rem;
}
.m-b-3 {
  margin-bottom: 1.5rem;
}
.m-l-3 {
  margin-left: 1.5rem;
}
.p-4 {
  padding: 2rem;
}
.p-e-4 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.p-s-4 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.p-t-4 {
  padding-top: 2rem;
}
.p-r-4 {
  padding-right: 2rem;
}
.p-b-4 {
  padding-bottom: 2rem;
}
.p-l-4 {
  padding-left: 2rem;
}
.m-4 {
  margin: 2rem;
}
.m-e-4 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.m-s-4 {
  margin-left: 2rem;
  margin-right: 2rem;
}
.m-t-4 {
  margin-top: 2rem;
}
.m-r-4 {
  margin-right: 2rem;
}
.m-b-4 {
  margin-bottom: 2rem;
}
.m-l-4 {
  margin-left: 2rem;
}
.p-5 {
  padding: 2.5rem;
}
.p-e-5 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.p-s-5 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.p-t-5 {
  padding-top: 2.5rem;
}
.p-r-5 {
  padding-right: 2.5rem;
}
.p-b-5 {
  padding-bottom: 2.5rem;
}
.p-l-5 {
  padding-left: 2.5rem;
}
.m-5 {
  margin: 2.5rem;
}
.m-e-5 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.m-s-5 {
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}
.m-t-5 {
  margin-top: 2.5rem;
}
.m-r-5 {
  margin-right: 2.5rem;
}
.m-b-5 {
  margin-bottom: 2.5rem;
}
.m-l-5 {
  margin-left: 2.5rem;
}
/* Informative Colors */
/* User Messages */
.user-msg {
  border: solid 1px;
  position: relative;
  width: 100%;
}
.user-msg + .user-msg {
  margin-top: 1rem;
}
.user-msg.info {
  background-color: #d0e5ef;
  border-color: #5ea5c8;
  color: #31708f;
}
.user-msg.success {
  background-color: #cce5cc;
  border-color: #4d984e;
  color: #3c763d;
}
.user-msg.error {
  background-color: #f9f1f1;
  border-color: #c0605e;
  color: #a94442;
}
.user-msg.warn {
  background-color: #f8efc0;
  border-color: #eed864;
  color: #a78f12;
}
.user-msg .close {
  font-size: 2rem;
  position: absolute;
  right: 15px;
  top: 8px;
}
.user-msg .close:hover {
  text-decoration: none;
}
.user-msg a,
.user-msg span {
  font-weight: 600;
}
nav {
  width: 100%;
}
nav a {
  display: inline-block;
  padding: 1rem;
}
nav.stacked a {
  display: block;
  width: 100%;
}
