section {
    margin:0 auto;
    max-width:1600px;
}

nav {background-color: #EEE}
nav.tabs, nav.menu {background-color:transparent}
nav a:hover {
	background-color: rgba(0,0,0,.1);
	text-decoration: none;
}
nav.menu a.active, nav.menu a.active:hover {border-left: solid 3px #999; padding-left:.7rem}
nav.menu a:hover {border-left:solid 3px; padding-left:.7rem}

/*#region - Typography */
h2 {color:#999}
p {color:inherit}

h1, h2 {font-family:'Strait', sans-serif}
h3, h4 {font-family:'Antic Didone', serif}
p {margin:0}
/*#endregion*/

/*#region - Code Block*/
pre {
	background-color:#EEE;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	outline:solid 1px #999;
	display:block;
	font-size:1.4rem;
	padding:1.5rem;
	position:relative;
	width:100%;
	margin:10px 0 30px;
}

pre:after {
	content:"";
	bottom:0;
	color:#fff;
	display:none;
	background-color:rgba(0,0,0,0.5);
	height:auto;
	padding:.5rem;
	position:absolute;
	right:0;
	width:auto;
}

pre:hover:after {display:block}
pre.css:after {content:"CSS"}
pre.html:after {content:"HTML"}
/*#endregion*/

/*#region - Scaffold */
[class^="col-"] {
    padding:1rem;
}

/*#endregion*/