/*#region - Typography */
h2 {color:#999}
p {color:inherit}

h1, h2 {font-family:'Strait', sans-serif}
h3, h4, h5, h6 {font-family:'Antic Didone', serif}
p {margin:0}
/*#endregion*/

/*#region - Code Block*/
pre {
	background-color:#EEE;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
	outline:solid 1px #999;
	display:block;
	font-size:1.4rem;
	padding:1.5rem;
	position:relative;
	width:100%;
	margin:10px 0 30px;
}

pre:after {
	content:"";
	bottom:0;
	color:#fff;
	display:none;
	background-color:rgba(0,0,0,0.5);
	height:auto;
	padding:.5rem;
	position:absolute;
	right:0;
	width:auto;
}

pre:hover:after {display:block}
pre.css:after {content:"CSS"}
pre.html:after {content:"HTML"}
/*#endregion*/

/*#region - Scaffold */
[class^="col"] {
    border: solid 1px #bada55;
    padding:1rem;
}

.row + .row {
    margin-top:20px;
}
/*#endregion*/

.card {
    background-color: #999;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.3);
    padding: 20px;
    text-align: center;
}

.card + .card {
    margin-left:20px;
}

.card .preview {
    border-radius: 3px;
    background-color: #fff;
    margin-bottom:30px;
    padding: 30px;
}