.wow {
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
    
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    
    display:inline-block;
}

.wow-once {
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.wow-reverse {
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
}

.wow-alternate {
    -webkit-animation-direction: alternate;
    -moz-animation-direction: alternate;
    -o-animation-direction: alternate;
    animation-direction: alternate;
}

.wow-ease {
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}
.wow-ease-in {
    -webkit-animation-timing-function: ease-in;
    -moz-animation-timing-function: ease-in;
    -o-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
}
.wow-ease-in-out {
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.wow-ease-out {
    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
}
.wow-linear {
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.wow-spin,
.wow-spin-hover:hover {
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -o-animation-name: spin;
    animation-name: spin;
}

.wow-swing,
.wow-swing-hover:hover {
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
}

.wow-zip-ltr,
.wow-zip-ltr-hover:hover {
    -webkit-animation-name: zipltr;
    -moz-animation-name: zipltr;
    -o-animation-name: zipltr;
    animation-name: zipltr;
}

.wow-zip-rtl,
.wow-zip-rtl-hover:hover {
    -webkit-animation-name: ziprtl;
    -moz-animation-name: ziprtl;
    -o-animation-name: ziprtl;
    animation-name: ziprtl;
}

.wow-embiggen,
.wow-embiggen-hover:hover {
    -webkit-animation-name: embiggen;
    -moz-animation-name: embiggen;
    -o-animation-name: embiggen;
    animation-name: embiggen;
}

.wow-appear,
.wow-appear-hover:hover {
    -webkit-animation-name: appear;
    -moz-animation-name: appear;
    -o-animation-name: appear;
    animation-name: appear;
}

.wow-pulse,
.wow-pulse-hover:hover {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
}

.wow-fall,
.wow-fall-hover:hover {
    -webkit-animation-name: fall;
    -moz-animation-name: fall;
    -o-animation-name: fall;
    animation-name: fall;
}

.wow-climb,
.wow-climb-hover:hover {
    -webkit-animation-name: climb;
    -moz-animation-name: climb;
    -o-animation-name: climb;
    animation-name: climb;
}

.wow-slide-ltr,
.wow-slide-ltr-hover:hover {
    -webkit-animation-name: slideltr;
    -moz-animation-name: slideltr;
    -o-animation-name: slideltr;
    animation-name: slideltr;
}

.wow-slide-rtl,
.wow-slide-rtl-hover:hover {
    -webkit-animation-name: slidertl;
    -moz-animation-name: slidertl;
    -o-animation-name: slidertl;
    animation-name: slidertl;
}

@-webkit-keyframes spin {
    100% { transform: rotate(360deg); }
}
@-moz-keyframes spin {
    100% { transform: rotate(360deg); }
}
@-o-keyframes spin {
    100% { transform: rotate(360deg); }
}
@keyframes spin {
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes swing {
    50%  { transform: rotate(180deg)}
}
@-moz-keyframes swing {
    50% { transform: rotate(180deg); }
}
@-o-keyframes swing {
    50% { transform: rotate(180deg); }
}
@keyframes swing {
    50% { transform: rotate(180deg); }
}

@-webkit-keyframes zipltr {
    0% { transform: translateX(-100px) skewX(20deg) }
    100% { transform: translateX(0) skewX(0); }
}
@-moz-keyframes zipltr {
    0% { transform: translateX(-100px) skewX(20deg)}
    100% { transform: translateX(0) skewX(0)}
}
@-o-keyframes zipltr {
    0% { transform: translateX(-100px) skewX(20deg)}
    100% { transform: translateX(0) skewX(0)}
}
@keyframes zipltr {
    0% { transform: translateX(-100px) skewX(20deg)}
    100% { transform: translateX(0) skewX(0)}
}

@-webkit-keyframes ziprtl {
    0% { transform: translateX(100px) skewX(-20deg) }
    100% { transform: translateX(0) skewX(0); }
}
@-moz-keyframes ziprtl {
    0% { transform: translateX(100px) skewX(-20deg)}
    100% { transform: translateX(0) skewX(0)}
}
@-o-keyframes ziprtl {
    0% { transform: translateX(100px) skewX(-20deg)}
    100% { transform: translateX(0) skewX(0)}
}
@keyframes ziprtl {
    0% { transform: translateX(100px) skewX(-20deg)}
    100% { transform: translateX(0) skewX(0)}
}

@-webkit-keyframes embiggen {
    100% { transform: scale(2); }
}
@-moz-keyframes embiggen {
    100% { transform: scale(2); }
}
@-o-keyframes embiggen {
    100% { transform: scale(2); }
}
@keyframes embiggen {
    100% { transform: scale(2); }
}

@-webkit-keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@-moz-keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@-o-keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes appear {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@-webkit-keyframes pulse {
    100% { opacity: 0 }
}
@-moz-keyframes pulse {
    100% { opacity: 0; transform: scale(2); }
}
@-o-keyframes pulse {
    100% { opacity: 0; transform: scale(2); }
}
@keyframes pulse {
    100% { opacity: 0; transform: scale(2); }
}

@-webkit-keyframes fall {
    0% { opacity: 0; transform: translateY(-100px); }
    100% { opacity: 1; transform: translateY(0) }
}
@-moz-keyframes fall {
    0% { opacity: 0; transform: translateY(-100px); }
    100% { opacity: 1; transform: translateY(0) }
}
@-o-keyframes fall {
    0% { opacity: 0; transform: translateY(-100px); }
    100% { opacity: 1; transform: translateY(0) }
}
@keyframes fall {
    0% { opacity: 0; transform: translateY(-100px); }
    100% { opacity: 1; transform: translateY(0) }
}

@-webkit-keyframes climb {
    0% { opacity: 0; transform: translateY(100px); }
    100% { opacity: 1; transform: translateY(0) }
}
@-moz-keyframes climb {
    0% { opacity: 0; transform: translateY(100px); }
    100% { opacity: 1; transform: translateY(0) }
}
@-o-keyframes climb {
    0% { opacity: 0; transform: translateY(100px); }
    100% { opacity: 1; transform: translateY(0) }
}
@keyframes climb {
    0% { opacity: 0; transform: translateY(100px); }
    100% { opacity: 1; transform: translateY(0) }
}

@-webkit-keyframes slideltr {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0) }
}
@-moz-keyframes slideltr {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0) }
}
@-o-keyframes slideltr {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0) }
}
@keyframes slideltr {
    0% { opacity: 0; transform: translateX(-100px); }
    100% { opacity: 1; transform: translateX(0) }
}

@-webkit-keyframes slidertl {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0) }
}
@-moz-keyframes slidertl {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0) }
}
@-o-keyframes slidertl {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0) }
}
@keyframes slidertl {
    0% { opacity: 0; transform: translateX(100px); }
    100% { opacity: 1; transform: translateX(0) }
}